<!DOCTYPE html>
<html lang="en" ng-app="MainApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Cargamos bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Cargamos angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <!-- Cargamos el javascript de angular -->
    <script src="core.js"></script>

    <title>Yugioh</title>
</head>

<body ng-controller="MainController">

    <div class="row" style="background-color:lavender;">

        <div class="col-sm-4" style="background-color:lavender;">
            [{{ newCard.name }}]
            <img src="/images/{{newCard.image}}" width="75%" height="75%">
        </div>

        <div class="col-sm-8">
            <table class="table table-striped">
                <tr class="info">
                    <td>Carta</td>
                    <td>Nivel</td>
                    <td>Tipo</td>
                    <td>Ataque</td>
                    <td>Defensa</td>
                </tr>
                <tr ng-repeat="card in cards">
                    <td><a href="" ng-click="showCard(card)">{{ card.nombre }}</a></td>
                    <td>{{ card.level }}</td>
                    <td>{{ card.type }}</td>
                    <td>{{ card.ATK }}</td>
                    <td>{{ card.DEF }}</td>
                </tr>
            </table>
            <br>
            <div ng-show="show">
                <br>
                Tipo: {{ newCard.attribute }}
                <br>
                <div ng-show="showData">
                    Nivel: {{ newCard.level }}
                    <br>
                    Ataque: {{ newCard.ATK }}
                    <br>
                    Defensa: {{ newCard.DEF }}
                    <br>
                    <br>
                    [{{ newCard.type }}]
                </div>
                {{ newCard.description }}
            </div>
        </div>

    </div>

</body>

</html>